.container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.children {
  width: 100%;
  overflow: auto;
  flex-grow: 1;
}

.header {
  display: flex;
  gap: 8px;
  padding: 1rem;
  align-items: center;
  justify-content: space-between;
  min-height: 4rem;
}

.actions {
  display: flex;
  gap: 8px;
  align-items: center;
}

.footer {
}

.noData {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
