.item {
  background: #ffffff13;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.container {
  width: 100%;
  height: 100%;
  border: 1px solid rgb(51, 51, 51);
}

.gridItemContainer {
  width: 100%;
  height: 100%;
}
