$grid-columns: 50px 150px 150px 1fr 100px;

.virtualizedTable {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  background: black;
}

/* ================= HEADER ================= */

.headerTable {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  background: black;
  color: white;
  z-index: 10;

  thead tr {
    display: grid;
    grid-template-columns: $grid-columns;
  }

  th {
    padding: 15px 10px;
    cursor: pointer;
    border-bottom: 1px solid #444;

    &:hover {
      background: #f4f4f418;
    }
  }
}

.header {
  display: flex;
  align-items: center;
  gap: 8px;
}

.headerCheckbox:indeterminate {
  background-color: orange; /* bold background */
  border: 2px solid darkorange;
  position: relative;
}

.headerCheckbox:indeterminate::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 25%;
  width: 50%;
  height: 2px;
  background-color: white; /* or whatever contrast you want */
  transform: translateY(-50%);
}

/* ================= BODY ================= */

.bodyScroll {
  flex: 1;
  overflow-y: auto;
  overflow-x: hidden;
}

.spacer {
  position: relative;
  width: 100%;
}

.bodyTable {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  will-change: transform;
}

.bodyTable tbody {
  display: block;
}

.bodyTable tr {
  display: grid;
  grid-template-columns: $grid-columns;
  height: 70px;
  width: 100%;
  border-bottom: 1px solid #444;

  &:nth-child(odd) {
    background-color: #f1f1f10c;
  }

  &[data-selected] {
    background: #f4f4f431;
  }

  &:hover {
    background: #f4f4f418;
  }
}

.bodyTable td {
  padding: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* ================= CELL HELPERS ================= */

.leftCenterContent {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.centerContent {
  display: flex;
  align-items: center;
  justify-content: center;
}

.income {
  color: green !important;
}

.expense {
  color: rgb(209, 0, 0) !important;
}
