$grid-columns: 50px 150px 150px 1fr 100px;

.header {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
}

.income {
  color: green !important;
}

.expense {
  color: rgb(209, 0, 0) !important;
}

.virtualizedTable {
  table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;

    display: flex;
    flex-direction: column;
  }

  thead {
    background: black;
    color: white;
    z-index: 20;
    position: sticky; // make the thead sticky
    top: 0;
  }

  thead tr {
    width: 100%;
    display: grid;
    grid-template-columns: $grid-columns;
  }

  thead tr th:hover {
    background: #f4f4f418 !important;
  }

  th {
    cursor: pointer;
    padding: 10px;
  }

  tbody {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  tr:nth-child(odd) {
    background-color: #f1f1f10c;
  }

  tbody tr[data-selected] {
    background: #f4f4f431;
  }

  td,
  th {
    border-bottom: 1px solid #444;
    text-align: left;
    height: 70px;
  }

  tr {
    width: 100%;
    height: 70px;
    overflow: hidden;
    display: grid;
    grid-template-columns: $grid-columns;

    td {
      flex-grow: 1;
      padding: 10px;
    }
  }

  tbody tr:hover {
    background: #f4f4f418;
  }
}

.centerContent {
  display: flex;
  justify-content: center;
  align-items: center;
}

.leftCenterContent {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
