.header {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
}

.income {
  color: green !important;
}

.expense {
  color: rgb(209, 0, 0) !important;
}
